@CHARSET "ISO-8859-1";
body {
    color: #FFF;
}


/***********************
 **** SETTINGS PAGE ****
 ***********************/

#settings-page .row {
    border-bottom: 1px solid red;
    border-spacing: 5px;
}

#settings-page .row > div {
    line-height: 36px;
}


/***********************
 **** LOGIN PAGE ****
 ***********************/

#loginPage h3 {
    text-align: center;
    margin-bottom: 10px;
}

#loginPage .button {
    text-align: center;
}

.navbar-displayname {
    display: inline;
}

.fractionColor {
    color: #28f428;
}

.modal {
    color: #333;
}


/***********************
 **** MEMBER PAGE ******
 ***********************/

.memberListCell {
    border: 0px solid red;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.memberListRow:hover {
    background-color: #222;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-left-color: red;
    border-width: 5px 0 5px 5px;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-right-color: red;
    border-width: 5px 5px 5px 0;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: red;
    border-width: 0 5px 5px;
}